.Feed {
    background-color: var(--snow);
    color: var(--black);
    margin-left: 22rem;
    margin-top: 0;
    top: 0;
}

p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    flex-shrink: 1;
    z-index: 10;
    padding: 1rem 1rem 1rem 24rem;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#search-icon-container img {
    height: 28px;
}

#search-icon-container img:hover {
    cursor: pointer;
}

#content-container {
    padding: 3.5rem 4rem 1rem 4rem;
}

#modal-container {
    padding: 5rem 4rem 1rem 4rem;
}

.hide {
    display: none;
}

.mock-post {
    width: 100%;
    background-color: blue;
    height: 200px;
}