.Feed {
    background-color: var(--snow);
    color: var(--black);
    margin-left: 22rem;
    margin-top: 0;
    top: 0;
}

p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    flex-shrink: 1;
    z-index: 10;
    padding: 1rem 1rem 1rem 24rem;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#filters li {
    display: inline-block;
    width: 90px;
    border-radius: 20px;
    outline: 1px solid #E4666F;
    background: linear-gradient(90deg, #E4666F, #E4666F 50%, #C0454D 100%);
    transition: background .15s ease-in-out;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    color: var(--snow);
    margin: 0 20px 0 0;
}

#filters li:hover {
    background: linear-gradient(90deg, #E4666F, #E4666F 25%, #C0454D 100%);
    cursor: pointer;
}

#search-bar-container {
    display: none;
}

#search-icon-container img {
    height: 28px;
}

#search-icon-container:hover {
    cursor: pointer;
}

#content-container {
    padding: 5rem 4rem 1rem 4rem;
}

#modal-container {
    padding: 5rem 4rem 1rem 4rem;
    display: none;
}

.mock-post {
    width: 100%;
    background-color: blue;
    height: 200px;
}