.Feed {
    background-color: var(--snow);
    color: var(--black);
    margin-left: 22rem;
    margin-top: 0;
    top: 0;
}

p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    flex-shrink: 1;
    z-index: 10;
    padding: 1rem 1rem 1rem 24rem;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#search-icon-container { 
    display: flex;
}

#search-icon-container img {
    height: 28px;
}

#search-icon-container img:hover {
    cursor: pointer;
}

#content-container {
    padding: 3.5rem 4rem 1rem 4rem;
}

#clear-search {
    font-family: "Poppins", sans-serif;
    color: var(--snow);
    border: 0;
    background-color: #67676781;
    border-radius: 10px;
    padding-left: .75rem;
    padding-right: .75rem;
    margin: auto 20px auto 0;
}

#clear-search:hover {
    cursor: pointer;
    background-color: #535252d8;
}

#modal-container {
    padding: 5rem 4rem 1rem 4rem;
}

.hide {
    display: none;
}

.mock-post {
    width: 100%;
    background-color: blue;
    height: 200px;
}

@media only screen and (max-width: 1036px) {
    .Feed {
        margin-left: 17rem;
        padding-right: 0;
        box-sizing: content-box;
    }

    #content-container {
        padding: 3.5rem 0 0 0;
    }

    #modal-container {
        padding: 3.5rem 0 0 0;
    }

    header {
        padding: 1rem 1rem 1rem 18rem;
        display: flex;
    }

    .reverse {
        flex-direction: row-reverse
    }
}

@media only screen and (max-width: 932px) {
    .Feed {
        margin-left: 0;
        padding: 0 1.5rem;
    }

    header {
        padding: 1rem;
    }
}