#Counter {
    padding-top: 15px;
    margin: 0 auto 30px auto;
    flex-shrink: 1;
}

#call-count-container {
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: var(--transparent-white);
    border-radius: 20px;
    margin-top: 4px;
}

#call-count-container p {
    font-size: 60px;
    text-align: center;
    padding-top: 6px;
}

#label-container p {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}
