.SideBar {
    height: 100%;
    position: fixed;
    background-color: var(--accent-pink);
    color: white;
    padding: 2rem 2.3rem 0 2.3rem;
    top: 0;
    left: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    background-image: linear-gradient(180deg, #fcf6f7 50%, #CCCCCC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 38px;
    margin: .35rem .65rem 0 1rem;
}

#headline-container {
    display: flex;
    width: inherit;
    margin: auto;
    justify-content: center;

}

#logo-container {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background: linear-gradient(180deg, #fcf6f7 50%, #CCCCCC 100%);
    display: flex;
    place-content: center;
}

#logo-container img {
    height: 3rem;
    margin: auto;
}

#text-container {
    height: 4rem;
}

#tagline {
    margin-top: 1rem;
}

#tagline p {
    font-size: 14px;
    display: inline-block;
    width: auto;
    margin: auto;
    padding-left: 5px;
    padding-top: 2px;
}

#subreddit-list {
    margin-top: 2rem;
}

#subreddit-list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.subreddit {
    padding: .5rem;
    border-radius: 25px;
    transition: background-color .15s ease-in-out;
    background-color: rgba(255,255,255, 0%);
}

.subreddit:hover {
    background-color: rgba(255, 255, 255, 15%)
}

.subreddit-p-container {
    display: inline-block;
    justify-content: center;
}

.subreddit a {
    display: flex;
    align-items: center;
}

.subreddit p {
    display: inline-block;
    color: var(--snow);
    margin-left: 1rem;
    margin-top: 0;
}

.subreddit-icon-container {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(180deg, #fcf6f7 50%, #CCCCCC 100%);
    display: inline-flex;
    place-content: center;
}

.subreddit-icon-container img {
    height: 1.5rem;
    margin: auto;
}