.SideBar {
    height: 100%;
    width: 25rem;
    position: fixed;
    background-color: var(--coral);
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    background-image: linear-gradient(180deg, #fcf6f7 50%, #CCCCCC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 38px;
    margin: .35rem 0 0 1rem;
}

#headline-container {
    display: flex;
    width: 20rem;
    margin: auto;
    padding-top: 2rem;
}

#logo-container {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background: linear-gradient(180deg, #fcf6f7 50%, #CCCCCC 100%);
    display: flex;
    place-content: center;
}

#logo-container img {
    height: 3rem;
    margin: auto;
}

#text-container {
    height: 4rem;
}