:root {
  --black: #080303;
  --snow: #fcf6f7;
  --rusty-red: #ce3e48;
  --coral: #e68b91;
  --accent-pink: #e4666f;
  --transparent-white: rgba(255, 255, 255, 15%);
  --down-arrow: #ADB0F7;
  --sidebar-width: 19.15%;
}


/** {
  outline: 1px solid lightcoral;
}*/

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

